<bp-header product="iq">
  <div context-selector>
    <label id="select" class="sr-only">Tenant</label>
    <ng-select
      labelForId="select"
      class="nav-select"
      placeholder="Select a tenant"
      [items]="tenants"
      bindLabel="text"
      [clearable]="false"
      [searchable]="false"
      [(ngModel)]="selectedTenant"
    ></ng-select>
  </div>
  <ul nav-major class="navbar-nav nav-major">
    <li class="nav-item">
      <bp-action
        text="Choice Management"
        classes="nav-link active"
        routerLink="./choice-management"
      ></bp-action>
    </li>
  </ul>
  <ul nav-minor class="navbar-nav">
    <li class="nav-item dropdown">
      <bp-dropdown
        triggerText="Account"
        triggerClasses="nav-link dropdown-toggle"
        menuClasses="dropdown-menu-right"
        [dropdownItems]="iqAccountDropdownItems"
      ></bp-dropdown>
    </li>
    <li class="nav-item">
      <bp-action
        text="Settings"
        classes="nav-link"
        routerLink="./settings"
      ></bp-action>
    </li>
    <li class="nav-item dropdown">
      <button
        type="button"
        id="eventsProductSwitcher"
        class="nav-link dropdown-toggle product-switcher"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="product-switcher-text" aria-hidden="true">
          Product Switcher
        </span>
        <span class="sr-only">
          Product Switcher
        </span>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="eventsProductSwitcher">
        <a href="" target="_blank" class="dropdown-item">
          Admin
        </a>
        <a href="" target="_blank" class="dropdown-item">
          Customer
        </a>
        <a href="" target="_blank" class="dropdown-item">
          Data Hub
        </a>
        <a href="" target="_blank" class="dropdown-item">
          Events
        </a>
        <p class="dropdown-text">
          IQ
        </p>
        <a href="" target="_blank" class="dropdown-item">
          Loyalty
        </a>
        <a href="" target="_blank" class="dropdown-item">
          Messaging
        </a>
        <div class="dropdown-divider"></div>
        <a href="" target="_blank" class="dropdown-item">
          Business Insights
        </a>
        <a href="" target="_blank" class="dropdown-item">
          Campaign Management
        </a>
        <a href="" target="_blank" class="dropdown-item">
          Data Visualization
        </a>
        <a href="" target="_blank" class="dropdown-item">
          Kibana
        </a>
      </div>
    </li>
  </ul>
</bp-header>